# Tugas 1

1. Membaca data Dari URL

In [1]:
import pandas as pd
import seaborn as sns

url="https://raw.githubusercontent.com/Ihsan210702/dataset/main/jumlah-kelurahan-yang-melaksanakan-sanitasi-total-berbasis-masyarakat-stbm-tahun-2019.csv"

c = pd.read_csv(url)

Menampilkan *dataset*

In [2]:
c

,wilayah,jumlah_target_denominator\n,jumlah_capaian_numerator,realisasi_capaian
0,Kota Administrasi Jakarta Pusat,44,44,44
1,Kota Administrasi Jakarta Utara,31,23,23
2,Kota Administrasi Jakarta Barat,56,56,56
3,Kota Administrasi Jakarta Selatan,65,65,65
4,Kota Administrasi Jakarta Timur,65,61,61
5,Kabupaten Administrasi Kepulauan Seribu,6,5,5

In [3]:
c.describe()

,jumlah_target_denominator\n,jumlah_capaian_numerator,realisasi_capaian
count,6.000000,6.000000,6.000000
mean,44.500000,42.333333,42.333333
std,22.967368,23.745877,23.745877
min,6.000000,5.000000,5.000000
25%,34.250000,28.250000,28.250000
50%,50.000000,50.000000,50.000000
75%,62.750000,59.750000,59.750000
max,65.000000,65.000000,65.000000

In [4]:
med = {'jumlah_target_denominator\n':k['jumlah_target_denominator\n'].median(),
		'jumlah_capaian_numerator': k['jumlah_capaian_numerator'].median(),'realisasi_capaian':k['realisasi_capaian'].median()
    }


k = pd.DataFrame(med, index=['median'])
k

NameError: ignored

In [ ]:
sns.distplot(c['jumlah_target_denominator\n'],kde=True,
             bins= int(150/5),color='lightblue',
             hist_kws={'edgecolor':'black'},
             kde_kws={'linewidth':4})

In [ ]:
sns.distplot(c['jumlah_target_denominator\n'],kde=True,
             bins= int(150/5),color='lightblue',
             hist_kws={'edgecolor':'black'},
             kde_kws={'linewidth':4})