# **TUGAS 2 (Diskritisasi)**


1. Carilah data yang bertipe numerik ( data klassifikasi)
2. Lakukan proses diskritisasi dengan *equal width* dan *equal frequency*
3. Lakukan proses diskritisasi dengan basis *entropy*
4. Kumpulkan tugas dengan link github ( web statis dari jupyter book)

##**Import Data**

In [ ]:
import pandas as pd
import numpy as np
import random
from sklearn.preprocessing import KBinsDiscretizer

In [ ]:
# source data
dataset_url = "https://raw.githubusercontent.com/Ihsan210702/dataset/main/IRIS.csv"

In [ ]:
# Create dataframe
df = pd.read_csv(dataset_url)

In [ ]:
# Menampilkan dataset iris
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
# show first 15 rows
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [ ]:
# CONSTAN SERIES

#Inisialisasi variable untuk data class
IrisClass = pd.DataFrame(df["Species"])

#Inisialisasi untuk menghilangkan data class/label
IrisData = df.drop(columns = ["Species","Id"])
IrisData

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

## **Hitung Data**

### Definisi *Deskritisasi*

1. Proses mengubah data bertipe data *numeric* menjadi data bertipe *categorical*
2. Diskritisasi memiliki 2 pendekatan yaitu *equal-width intervals* dan *equal-frequency intervals*
3. *equal-width intervals* adalah diskritisasi dengan lebar data yang sama
4. *equal-frequency intervals* adalah diskritisasi dengan jumlah data yang sama

#### Equal Width
Equal Width merupakan salah satu metode deskritisasi yang membagi data numerik menjadi beberapa kelompok dengan lebar kelompok yang kurang lebih sama besar.

Untuk menghitung equal width,menggunakan *binning* dengan nilai strategy "*uniform*", strategy digunkan untuk menentukan jangka insterval antar data.

```
# Syntax
KBinsDiscretizer(n_bins = amount_of_binning, encode, strategy)
```

* Equal Width Intervals lebar kelopak bunga Iris
* Dikelompokkan menjadi 3 kategori yaitu 
* Kategori sedikit besar
* Kategori besar
* Kategori sangat besar

##### Uniform

```
# Syntax
KBinsDiscretizer(n_bins = n_bins = amount_of_binning, encode = 'ordinal', strategy = 'unifrom')
```

In [ ]:
# equal-width intervals

labels = ["Sedikit Besar", "Besar", "Sangat Besar"]
amount_of_binning = len(labels)

#equal-width intervals binning
est_ew_binning = KBinsDiscretizer(n_bins=amount_of_binning, encode='ordinal', strategy='uniform')

#fit binning to data
est_ew_binning.fit(IrisData)
iris_ew_binning = est_ew_binning.fit_transform(IrisData)
value_of_ew_binned_df = pd.DataFrame(iris_ew_binning, columns=["SepalLengthCm","SepalWidthCm", "PetalLengthCm", "PetalWidthCm"])
value_of_ew_binned_df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              0.0           1.0            0.0           0.0
1              0.0           1.0            0.0           0.0
2              0.0           1.0            0.0           0.0
3              0.0           1.0            0.0           0.0
4              0.0           2.0            0.0           0.0
..             ...           ...            ...           ...
145            2.0           1.0            2.0           2.0
146            1.0           0.0            2.0           2.0
147            1.0           1.0            2.0           2.0
148            1.0           1.0            2.0           2.0
149            1.0           1.0            2.0           2.0

[150 rows x 4 columns]

In [ ]:
#Inisialisasi data untuk setiap fitur yang terdapat pada iris data yang telah di binning
ew_binned_iris_data = pd.DataFrame(iris_ew_binning, columns=["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"])
ew_binned_iris_data["SepalLengthCm"] = np.where(ew_binned_iris_data["SepalLengthCm"] == 0.0, "Sedikit Besar", np.where(ew_binned_iris_data["SepalLengthCm"] == 1.0, "Besar", "Sangat_Besar"))
ew_binned_iris_data["SepalWidthCm"] = np.where(ew_binned_iris_data["SepalWidthCm"] == 0.0, "Sedikit Besar", np.where(ew_binned_iris_data["SepalWidthCm"] == 1.0, "Besar", "Sangat_Besar"))
ew_binned_iris_data["PetalLengthCm"] = np.where(ew_binned_iris_data["PetalLengthCm"] == 0.0, "Sedikit Besar", np.where(ew_binned_iris_data["PetalLengthCm"] == 1.0, "Besar", "Sangat_Besar"))
ew_binned_iris_data["PetalWidthCm"]  = np.where(ew_binned_iris_data["PetalWidthCm"] == 0.0, "Sedikit Besar", np.where(ew_binned_iris_data["PetalWidthCm"] == 1.0, "Besar", "Sangat_Besar"))

###### Sepal Width

In [ ]:
# dataframe of sepal-width and sepal category
class_ew_binned_sepalWidth = pd.DataFrame((ew_binned_iris_data["SepalWidthCm"]))
class_ew_binned_sepalWidth

      SepalWidthCm
0            Besar
1            Besar
2            Besar
3            Besar
4     Sangat_Besar
..             ...
145          Besar
146  Sedikit Besar
147          Besar
148          Besar
149          Besar

[150 rows x 1 columns]

In [ ]:
#Hitung setiap data perkategori
class_ew_binned_sepalWidth.value_counts()

SepalWidthCm
Besar            99
Sedikit Besar    33
Sangat_Besar     18
dtype: int64

###### Petal Width

In [ ]:
# dataframe of petal-width and petal category
class_ew_binned_petalWidth = pd.DataFrame((ew_binned_iris_data["PetalWidthCm"]))
class_ew_binned_petalWidth

      PetalWidthCm
0    Sedikit Besar
1    Sedikit Besar
2    Sedikit Besar
3    Sedikit Besar
4    Sedikit Besar
..             ...
145   Sangat_Besar
146   Sangat_Besar
147   Sangat_Besar
148   Sangat_Besar
149   Sangat_Besar

[150 rows x 1 columns]

In [ ]:
#Hitung setiap data perkategori
class_ew_binned_sepalWidth.value_counts()

SepalWidthCm
Besar            99
Sedikit Besar    33
Sangat_Besar     18
dtype: int64

###### Sepal Length

In [ ]:
# dataframe of sepal-length and sepal category
class_ew_binned_sepalLength = pd.DataFrame((ew_binned_iris_data["SepalLengthCm"]))
class_ew_binned_sepalLength

     SepalLengthCm
0    Sedikit Besar
1    Sedikit Besar
2    Sedikit Besar
3    Sedikit Besar
4    Sedikit Besar
..             ...
145   Sangat_Besar
146          Besar
147          Besar
148          Besar
149          Besar

[150 rows x 1 columns]

In [ ]:
#Hitung setiap data perkategori
class_ew_binned_sepalLength.value_counts()

SepalLengthCm
Besar            70
Sedikit Besar    52
Sangat_Besar     28
dtype: int64

###### Petal Length

In [ ]:
# dataframe of petal-length and petal category
class_ew_binned_petalLength = pd.DataFrame((ew_binned_iris_data["PetalLengthCm"]))
class_ew_binned_petalLength

     PetalLengthCm
0    Sedikit Besar
1    Sedikit Besar
2    Sedikit Besar
3    Sedikit Besar
4    Sedikit Besar
..             ...
145   Sangat_Besar
146   Sangat_Besar
147   Sangat_Besar
148   Sangat_Besar
149   Sangat_Besar

[150 rows x 1 columns]

In [ ]:
#Hitung setiap data perkategori
class_ew_binned_petalLength.value_counts()

PetalLengthCm
Besar            54
Sedikit Besar    50
Sangat_Besar     46
dtype: int64

##### Data Yang telah dilakukkan binning dengan metode equal width

In [ ]:
equal_width_binning_df = pd.concat((value_of_ew_binned_df, ew_binned_iris_data), axis = 1)
equal_width_binning_df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
0,0.0,1.0,0.0,0.0,Sedikit Besar,Besar,Sedikit Besar,Sedikit Besar
1,0.0,1.0,0.0,0.0,Sedikit Besar,Besar,Sedikit Besar,Sedikit Besar
2,0.0,1.0,0.0,0.0,Sedikit Besar,Besar,Sedikit Besar,Sedikit Besar
3,0.0,1.0,0.0,0.0,Sedikit Besar,Besar,Sedikit Besar,Sedikit Besar
4,0.0,2.0,0.0,0.0,Sedikit Besar,Sangat_Besar,Sedikit Besar,Sedikit Besar
...,...,...,...,...,...,...,...,...
145,2.0,1.0,2.0,2.0,Sangat_Besar,Besar,Sangat_Besar,Sangat_Besar
146,1.0,0.0,2.0,2.0,Besar,Sedikit Besar,Sangat_Besar,Sangat_Besar
147,1.0,1.0,2.0,2.0,Besar,Besar,Sangat_Besar,Sangat_Besar
148,1.0,1.0,2.0,2.0,Besar,Besar,Sangat_Besar,Sangat_Besar
149,1.0,1.0,2.0,2.0,Besar,Besar,Sangat_Besar,Sangat_Besar

#### Equal Frequency
Equal Frequeny merupkan metode dikritisasi yang membagi data numerik menjadi beberapa kelompok dengan jumlah anggota per kelompok yang kurang lebih sama besar.

Untuk menghitung equal width,menggunakan *binning* dengan nilai strategy "*quantile*", strategy digunkan untuk menentukan jangka insterval antar data.

* Equal Frequency Intervals besar kelopak bunga Iris
* Dikelompokkan menjadi 3 kategori yaitu 
* Kategori sedikit besar
* Kategori besar
* Kategori sangat besar

In [ ]:
#equal-width intervals binning
est_ef_binning = KBinsDiscretizer(n_bins=amount_of_binning, encode='ordinal', strategy='quantile')

#fit binning to data
est_ef_binning.fit(IrisData)
iris_ef_binning = est_ef_binning.fit_transform(IrisData)
value_of_ef_binned_df = pd.DataFrame(iris_ef_binning, columns=["SepalLengthCm","SepalWidthCm", "PetalLengthCm", "PetalWidthCm"])
value_of_ef_binned_df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              0.0           2.0            0.0           0.0
1              0.0           1.0            0.0           0.0
2              0.0           2.0            0.0           0.0
3              0.0           1.0            0.0           0.0
4              0.0           2.0            0.0           0.0
..             ...           ...            ...           ...
145            2.0           1.0            2.0           2.0
146            2.0           0.0            2.0           2.0
147            2.0           1.0            2.0           2.0
148            1.0           2.0            2.0           2.0
149            1.0           1.0            2.0           2.0

[150 rows x 4 columns]

In [ ]:
#Inisialisasi data untuk setiap fitur yang terdapat pada iris data yang telah di binning
ef_binned_iris_data = pd.DataFrame(iris_ef_binning, columns=["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"])
ef_binned_iris_data["SepalLengthCm"] = np.where(ef_binned_iris_data["SepalLengthCm"] == 0.0, "Sedikit Besar", np.where(ef_binned_iris_data["SepalLengthCm"] == 1.0, "Besar", "Sangat_Besar"))
ef_binned_iris_data["SepalWidthCm"] = np.where(ef_binned_iris_data["SepalWidthCm"] == 0.0, "Sedikit Besar", np.where(ef_binned_iris_data["SepalWidthCm"] == 1.0, "Besar", "Sangat_Besar"))
ef_binned_iris_data["PetalLengthCm"] = np.where(ef_binned_iris_data["PetalLengthCm"] == 0.0, "Sedikit Besar", np.where(ef_binned_iris_data["PetalLengthCm"] == 1.0, "Besar", "Sangat_Besar"))
ef_binned_iris_data["PetalWidthCm"]  = np.where(ef_binned_iris_data["PetalWidthCm"] == 0.0, "Sedikit Besar", np.where(ef_binned_iris_data["PetalWidthCm"] == 1.0, "Besar", "Sangat_Besar"))

###### Sepal Width

In [ ]:
# dataframe of sepal-width and sepal category
class_ef_binned_sepalWidth = pd.DataFrame((ef_binned_iris_data["SepalWidthCm"]))
class_ef_binned_sepalWidth

      SepalWidthCm
0     Sangat_Besar
1            Besar
2     Sangat_Besar
3            Besar
4     Sangat_Besar
..             ...
145          Besar
146  Sedikit Besar
147          Besar
148   Sangat_Besar
149          Besar

[150 rows x 1 columns]

In [ ]:
#Hitung setiap data perkategori
class_ef_binned_sepalWidth.value_counts()

SepalWidthCm
Sangat_Besar     55
Besar            48
Sedikit Besar    47
dtype: int64

###### Petal Width

In [ ]:
# dataframe of petal-width and sepal category
class_ef_binned_petalWidth = pd.DataFrame((ef_binned_iris_data["PetalWidthCm"]))
class_ef_binned_petalWidth

      PetalWidthCm
0    Sedikit Besar
1    Sedikit Besar
2    Sedikit Besar
3    Sedikit Besar
4    Sedikit Besar
..             ...
145   Sangat_Besar
146   Sangat_Besar
147   Sangat_Besar
148   Sangat_Besar
149   Sangat_Besar

[150 rows x 1 columns]

In [ ]:
#Hitung setiap data perkategori
class_ef_binned_petalWidth.value_counts()

PetalWidthCm
Sangat_Besar     52
Sedikit Besar    50
Besar            48
dtype: int64

###### Sepal Length

In [ ]:
# dataframe of sepal-length and sepal category
class_ef_binned_sepalLength = pd.DataFrame((ef_binned_iris_data["SepalLengthCm"]))
class_ef_binned_sepalLength

     SepalLengthCm
0    Sedikit Besar
1    Sedikit Besar
2    Sedikit Besar
3    Sedikit Besar
4    Sedikit Besar
..             ...
145   Sangat_Besar
146   Sangat_Besar
147   Sangat_Besar
148          Besar
149          Besar

[150 rows x 1 columns]

In [ ]:
#Hitung setiap data perkategori
class_ef_binned_sepalLength.value_counts()

SepalLengthCm
Besar            53
Sangat_Besar     51
Sedikit Besar    46
dtype: int64

###### Petal Length

In [ ]:
# dataframe of peatal-length and sepal category
class_ef_binned_petalLength = pd.DataFrame((ef_binned_iris_data["PetalLengthCm"]))
class_ef_binned_petalLength

     PetalLengthCm
0    Sedikit Besar
1    Sedikit Besar
2    Sedikit Besar
3    Sedikit Besar
4    Sedikit Besar
..             ...
145   Sangat_Besar
146   Sangat_Besar
147   Sangat_Besar
148   Sangat_Besar
149   Sangat_Besar

[150 rows x 1 columns]

In [ ]:
#Hitung setiap data perkategori
class_ef_binned_petalLength.value_counts()

PetalLengthCm
Sangat_Besar     51
Sedikit Besar    50
Besar            49
dtype: int64

##### Data Yang telah dilakukkan binning dengan metode equal frequncy

In [ ]:
equal_frequency_binning_df = pd.concat((value_of_ef_binned_df, ef_binned_iris_data), axis = 1)
equal_frequency_binning_df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
0,0.0,2.0,0.0,0.0,Sedikit Besar,Sangat_Besar,Sedikit Besar,Sedikit Besar
1,0.0,1.0,0.0,0.0,Sedikit Besar,Besar,Sedikit Besar,Sedikit Besar
2,0.0,2.0,0.0,0.0,Sedikit Besar,Sangat_Besar,Sedikit Besar,Sedikit Besar
3,0.0,1.0,0.0,0.0,Sedikit Besar,Besar,Sedikit Besar,Sedikit Besar
4,0.0,2.0,0.0,0.0,Sedikit Besar,Sangat_Besar,Sedikit Besar,Sedikit Besar
...,...,...,...,...,...,...,...,...
145,2.0,1.0,2.0,2.0,Sangat_Besar,Besar,Sangat_Besar,Sangat_Besar
146,2.0,0.0,2.0,2.0,Sangat_Besar,Sedikit Besar,Sangat_Besar,Sangat_Besar
147,2.0,1.0,2.0,2.0,Sangat_Besar,Besar,Sangat_Besar,Sangat_Besar
148,1.0,2.0,2.0,2.0,Besar,Sangat_Besar,Sangat_Besar,Sangat_Besar
149,1.0,1.0,2.0,2.0,Besar,Besar,Sangat_Besar,Sangat_Besar

#### ENTROPY

Diskritisasi berbasis entropi (entropy based discretization) adalah salah satu jenis algoritma diskritisasi terawasi yang menggunakan mekanisme top- down. Tujuan dari algoritma ini adalah mendapatkan partisi yang mengandung baris data dari kelas yang sama sebanyak mungkin.

* RUMUS ENTROPY

  ![image.png](https://cdn.mathpix.com/snip/images/T3MAnkOgvu54ASi68sQ5fR96rPCLPxjYofOqC9L4IpM.original.fullsize.png)

* RUMUS GAIN

  ![image.png](https://cdn.mathpix.com/snip/images/T6pg-dpJKT4PsSKzNdI_sQWFKj1kZao_9Oaf5-Zf88g.original.fullsize.png)

* RUMUS INFO
  
  ![image.png](https://cdn.mathpix.com/snip/images/iFDk6peaL_uAebWnVWZebfy9CvJ0VNADb8ukE2Nmyds.original.fullsize.png)

Menambahkan sempel data yang akan di hitung

In [ ]:
sample = df[["PetalWidthCm","SepalWidthCm","SepalLengthCm","PetalLengthCm"]]
sample.describe()

       PetalWidthCm  SepalWidthCm  SepalLengthCm  PetalLengthCm
count    150.000000    150.000000     150.000000     150.000000
mean       1.198667      3.054000       5.843333       3.758667
std        0.763161      0.433594       0.828066       1.764420
min        0.100000      2.000000       4.300000       1.000000
25%        0.300000      2.800000       5.100000       1.600000
50%        1.300000      3.000000       5.800000       4.350000
75%        1.800000      3.300000       6.400000       5.100000
max        2.500000      4.400000       7.900000       6.900000

Membuat kategori secara random untuk data sempel

In [ ]:
np.random.seed(0)
sample["kategori"] = np.where(np.random.choice(2,sample.shape[0]) < 1,"A","B")
sample

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     PetalWidthCm  SepalWidthCm  SepalLengthCm  PetalLengthCm kategori
0             0.2           3.5            5.1            1.4        A
1             0.2           3.0            4.9            1.4        B
2             0.2           3.2            4.7            1.3        B
3             0.2           3.1            4.6            1.5        A
4             0.2           3.6            5.0            1.4        B
..            ...           ...            ...            ...      ...
145           2.3           3.0            6.7            5.2        A
146           1.9           2.5            6.3            5.0        B
147           2.0           3.0            6.5            5.2        B
148           2.3           3.4            6.2            5.4        B
149           1.8           3.0            5.9            5.1        B

[150 rows x 5 columns]

Membuat fungsi GetOverollCategory (keseluruhan) yang digunakan untuk menghitung data keseluruhan yang nantinya digunakan untuk menghitung entropy

In [ ]:
def GetOverollCategory(col):
  group = sample.loc[:, :].groupby("kategori").count()
  a = group.loc["A", col]
  b = group.loc["B", col]
  return (a,b,a+b)

Memasukan fungsi splitter yang digunakan untuk membuat split antara value yang telah ditentukan lalu mengembalikan data yang telah dipisahkan

In [ ]:
def splitter(value, col):
  #get data less and greater from value
  less = sample[sample[col] <= value]
  greater = sample[sample[col] > value]

  #calculate into category for each data
  less_group = less.loc[:, :].groupby("kategori").count()
  greater_group = greater.loc[:, :].groupby("kategori").count()

  #get value based on category
  less_category_A = less_group.loc["A",col]
  less_category_B = less_group.loc["B",col]
  greater_category_A = greater_group.loc["A",col]
  greater_category_B = greater_group.loc["B",col]

  return (
      [less_category_A, less_category_B, less_category_A + less_category_B],
      [greater_category_A, greater_category_B, greater_category_A + greater_category_B]
  )

Membuat fungsi entropy untuk melakukan perhitungan entropy

In [ ]:
def entropy(d):
  r1 = (d[0] / d[2]) * np.log2(d[0] / d[2])
  r2 = (d[1] / d[2]) * np.log2(d[1] / d[2])
  return np.sum([r1, r2]) * -1

Membuat fungsi info dan gain

In [ ]:
def info(d):
  r1 = (d[0][2] / sample.shape[0]) * entropy(d[0])
  r2 = (d[1][2] / sample.shape[0]) * entropy(d[1])
  return r1 + r2

Fungsi gain untuk menghitung selisih antara entropy awal dengan yang baru

In [ ]:
def gain(Einitial, Enew):
  return Einitial - Enew

##### Petal Width

In [ ]:
#Membuat Dinitial
a = GetOverollCategory(("PetalWidthCm"))
entropy_a = entropy(a)

print(a)
print(entropy_a)

(68, 82, 150)
0.993707106604508

Melakukan beberapa fungsi split untuk mendapatkan informasi yang terbaik

* SPLIT 1 : 0.1

In [ ]:
split1 = splitter(0.1,"PetalWidthCm")
info_split1 = info(split1)
gain(entropy_a, info_split1)

0.01104847098180839

* SPLIT 2 : 1.3

In [ ]:
split2 = splitter(1.3,"PetalWidthCm")
info_split2 = info(split2)
gain(entropy_a, info_split2)

0.00021232279799998643

* SPLIT 3 : 2.4

In [ ]:
split3 = splitter(2.4,"PetalWidthCm")
info_split3 = info(split3)
gain(entropy_a, info_split3)

0.0008771143281794958

Pada percobaan split atribut petal width di dapati bahwa split ke 2 dengan nilai 1.3 merupakan hasil keuntungan informasi terbaik yakni dengan hasil 0.00021232279799998643

##### Sepal Width

In [ ]:
#Membuat Dinitial
b = GetOverollCategory(("SepalWidthCm"))
entropy_b = entropy(b)

print(b)
print(entropy_b)

(68, 82, 150)
0.993707106604508

* SPLIT 1 : 2.2

In [ ]:
split1 = splitter(2.2,"SepalWidthCm")
info_split1 = info(split1)
gain(entropy_b, info_split1)

0.0001729324189373438

* SPLIT 2 : 3.0

In [ ]:
split2 = splitter(3.0,"SepalWidthCm")
info_split2 = info(split2)
gain(entropy_b, info_split2)

0.0009879303562354558

* SPLIT 3 : 4.0

In [ ]:
split3 = splitter(4.0,"SepalWidthCm")
info_split3 = info(split3)
gain(entropy_b, info_split3)

0.00271470605919788

Pada percobaan split atribut sepal width di dapati bahwa split ke 1 dengan nilai 2.2 merupakan hasil keuntungan informasi terbaik yakni dengan hasil 0.0001729324189373438

##### Petal Length

In [ ]:
#Membuat Dinitial
c = GetOverollCategory(("PetalLengthCm"))
entropy_c = entropy(c)

print(c)
print(entropy_c)

(68, 82, 150)
0.993707106604508

* SPLIT 1 : 1.2

In [ ]:
split1 = splitter(1.2,"PetalLengthCm")
info_split1 = info(split1)
gain(entropy_c, info_split1)

0.003488151753460178

* SPLIT 2 : 4.5

In [ ]:
split2 = splitter(4.5,"PetalLengthCm")
info_split2 = info(split2)
gain(entropy_c, info_split2)

0.00010279135197621692

* SPLIT 3 : 6.6

In [ ]:
split3 = splitter(6.6,"PetalLengthCm")
info_split3 = info(split3)
gain(entropy_c, info_split3)

0.0008771143281794958

Pada percobaan split atribut petal length di dapati bahwa split ke 2 dengan nilai 4.5 merupakan hasil keuntungan informasi terbaik yakni dengan hasil 0.00010279135197621692

##### Sepal Length

In [ ]:
#Membuat Dinitial
d = GetOverollCategory(("SepalLengthCm"))
entropy_d = entropy(d)

print(d)
print(entropy_d)

(68, 82, 150)
0.993707106604508

* SPLIT 1 : 4.5

In [ ]:
split1 = splitter(4.5,"SepalLengthCm")
info_split1 = info(split1)
gain(entropy_d, info_split1)

0.0069930419733333915

* SPLIT 2 : 5.8

In [ ]:
split2 = splitter(5.8,"SepalLengthCm")
info_split2 = info(split2)
gain(entropy_d, info_split2)

0.0038893799103313365

* SPLIT 3 : 7.5

In [ ]:
split3 = splitter(7.5,"SepalLengthCm")
info_split3 = info(split3)
gain(entropy_d, info_split3)

0.0017898381837971877

Pada percobaan split atribut petal length di dapati bahwa split ke 3 dengan nilai 7.5 merupakan hasil keuntungan informasi terbaik yakni dengan hasil 0.0017898381837971877